.box {
  height: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;

  > div {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 16px;
  }

  .btn {
    width: 130px;
    height: 40px;
    border-radius: 8px;
    margin: 16px;
  }
}
