.box {
    height: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column;

    .input {
        margin: 16px;
        padding: 8px;
        background-color: lightgray;
        border-radius: 4px;
        cursor: pointer;
    }
}